.row
  .col-lg-12.text-center
    %h4
      = t("notifications_count", count: "")
      .left
        = link_to t("back"), girls_path, :class => "btn btn-info btn-sm"
    %hr.star-primary/
.row
  .col-lg-12
    - if @users_hash.present?
      .col-lg-3
        .message-chat-list
          %ul
            - @users_hash.each do |k, u|
              - if u.present?
                %li
                  .thumb-img
                    %span.online-offline
                      - if u.online?
                        = image_tag("online.png", title: t("online"))
                      - else  
                        = image_tag("offline.png", title: t("offline"))                      
                    = image_tag u.avatar(:thumb)
                    = link_to u.name_with_unread_message(current_user), show_messages_path(u.id, :message_id => '', :chat => "yes"), :id => "show_messages#{u.id}", :remote => true, :class => "show-message"
      .col-lg-9
        %div{style: "display:none;", id: "loader-image", class: "text-center"}
          = image_tag "loader.gif"
        %div{:id => "div_update_body", :class => "div_update_body"}
        - @users_hash.each do |k, u|
          %div{:id => "div_update_chat_#{u.id}", :class => "div_update_chat"}
    - else
      %h3
        = t("notifications_count", count: 0)
          