.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h1.text-center.login-title= t("resend_confirm").html_safe
      .account-wall
        - if session[:girl_or_prog] == "true"
          = image_tag "girl.jpeg", :class => "profile-img"
        - else  
          = image_tag "boy.jpeg", :class => "profile-img"
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => "post", :class => "form-signin"}) do |f|
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-warning"
            .clearb &nbsp;
          = f.email_field :email, autofocus: true, class: 'form-control',  :placeholder => t("email")
          .clearb &nbsp;
          = f.submit t("resend_confirm"), :class => 'btn btn-primary btn-lg'
          .clearb &nbsp;   
        \#{render "devise/shared/links"}