- if @all_jobs.present?
  %div.clearb{:id => (params[:modal] ? "job_jscroll" : "user_job_jscroll")}
    - @all_jobs.each do |job|
      .col-md-2.col-sm-4.col-xs-12
        %div#portfolio{:class => ""}
          .portfolio-item
            -#- if params[:modal]
              %a{:href => job_url(job.id), :title => t("open_in_new_window"), :target => "_blank"}
                .text-right
                  %i.fa.fa-external-link.fa-4
            -#%a.portfolio-link{:href => href, "data-remote" => true, "data-target" => "#portfolio#{job.id}", "data-toggle" => "collapse"}              
            %a.portfolio-link{:href => job_url(job.id)}
              -#.caption-visible
                = "#{job.title}"
              .caption
                .caption-content
                  = "#{job.title}"
                  %br
                  %h6= "(#{job.technology_list.join(',')})" if job.technology_list.present?

              .img-user
                - if job.avatar_attached?
                  -# //  showing the avatar of the job
                  = image_tag job.avatar(:medium), :id => "img-responsive", alt: job.title, class: "img_off", lazy: true              
                - else 
                  -# // showing the avatar of the instructor
                  - job_instructor = job.user
                  = image_tag job_instructor.avatar(:medium), :id => "img-responsive", alt: job.title, class: "img_off", lazy: true

    .clearb
    .next-scroll.right
      = link_to t("more"), next_jobs_path(:page => (params[:page].to_i + 1), :modal => params[:modal]), :remote => true, :class => "job-next"

  - if params[:modal]
    :javascript
      $('#job_jscroll').jscroll({
        nextSelector: 'a.job-next:last'
      });
  - else
    :javascript
      $('#user_job_jscroll').jscroll({
        nextSelector: 'a.job-next:last',
        autoTrigger: false
      });

- lazyload_placholder = image_url('gray.gif')

:javascript
  $("img.img_off").lazyload({
    effect : "fadeIn",
    effectTime: 1000
  });
  $("img.img_off").removeClass("img_off");    
  

