#change-password-form
  .row
    .col-lg-12
      %div
        - flash.each do |name, msg|
          %p= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-warning"    
      = form_for(current_user, :url => update_password_user_path, :remote => true, :html => {:id => "changePassForm", :class => "form-horizontal", :novalidate => "" } ) do |f|
        .form-group
          %label.col-sm-3.control-label{:for => ""} 
            = t("new_password")
          .col-sm-9
            %input#required.form-control{"data-validation-required-message" => t("required"), :placeholder => t("password"), :required => "", :type => "password", :name => "user[password]", :autocomplete => "off"}/
            %p.help-block.text-danger 
        .form-group
          %label.col-sm-3.control-label{:for => ""} 
            = t("confirm_new_password")
          .col-sm-9
            %input#required.form-control{"data-validation-required-message" => t("required"), :placeholder => t("confirm_new_password"), :required => "", :type => "password", :name => "user[password_confirmation]"}/
            %p.help-block.text-danger
        #success
        .form-group 
          .col-sm-9.col-sm-offset-3
            %button.btn.btn-primary{:type => "submit", :id => "contact-btn", data: { disable_with: "Please wait..." }}= t("change_your_password")