.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h3.text-center.login-title= t("change_your_password")
      .account-wall
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class => "form-signin" }) do |f|
          = f.hidden_field :reset_password_token
          = devise_error_messages!   
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-warning"
            .clearb &nbsp;  
          = f.password_field :password, autofocus: true, autocomplete: "off",  :placeholder => t("new_password"), class: 'form-control'
          .clearb &nbsp;
          = f.password_field :password_confirmation, autocomplete: "off",  :placeholder => t("confirm_new_password"), class: 'form-control'
          = f.submit t("change_your_password"), :class => 'btn btn-primary btn-lg'
          .clearb &nbsp;   
        \#{render "devise/shared/links"}