<p>
<a href="https://demo.herokuapp.com/job/<%= @job.id %>"></a><%= @job.title %> has been published by <a href="https://demo.herokuapp.com/profile/<%= @user.id %>"><%= @user.name %></a>
</p>
<p>
<a href="https://demo.herokuapp.com/en/admin/jobs/<%= @job.id %>">Click Here To Approve</a>
</p>
<p>or</p>
<p>
<a href="https://demo.herokuapp.com/jobs/<%= @job.id %>">Here To View</a>
</p>