<p>
<a href="https://demo.herokuapp.com/course/<%= @course.id %>"></a><%= @course.title %> has been published by <a href="https://demo.herokuapp.com/profile/<%= @user.id %>"><%= @user.name %></a>
</p>
<p>
<a href="https://demo.herokuapp.com/en/admin/courses/<%= @course.id %>">Click Here To Approve</a>
</p>
<p>or</p>
<p>
<a href="https://demo.herokuapp.com/courses/<%= @course.id %>">Here To View</a>
</p>