<html>
	<head></head>
	<body>
		<p>Hi <%= @user.name %>,</p>

		<p>Just wanted to let you know that there are <%= @match_users.count %> new persons registered which can be interesting for you to look at:</p>

	    <table style="font-family: verdana,arial,sans-serif; font-size:11px; color:#333333; border-width: 1px; border-color: #666666; border-collapse: collapse;">
	    	<tr>
	    		<th style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">Photo</th>
	    		<th style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;">Details</th>
	    	</tr>
	    	<% @match_users.limit(3).each do |profile| %>
	    		<tr>
	    			<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">
						<%= link_to (image_tag profile.user_avatar_medium, :width => "100"), notification_confirmation_url(@user.notification_token, 'yes', profile.id) %>
	    			</td>
	    			<td style="border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;">
	    				<%= link_to profile.name, notification_confirmation_url(@user.notification_token, 'yes', profile.id) %>, <%= profile.user_age %>, <%= profile.city %>, <%= profile.country.present? ? profile.country_name : "-" %>
	    			</td>
	    		</tr>
	    	<% end %>
	    </table>.....

		<p>
			<%= link_to "Click Here to view all new matches", notification_confirmation_url(@user.notification_token, 'yes') %>
		</p>
		
    <p>P.S.: If you are having issues with the service then don't heistate to drop us a line at <a href="mailto:support@demo.com?subject=Need%20Help">support@demo.com</a>.</p>
		
		<p>thanks,<br />
		DateProg Team.</p>
		
		<p></p>
		
		<p style="font-size: 10px;">
			this email was sent from unmonitored address. <%= link_to "to unsubscribe from these notifications please click here", notification_confirmation_url(@user.notification_token, 'stop') %>
		</p>
	</body>	
</html>