<p>привет <%= @recipient.name %>,</p>

<p>У Вас новое сообщение(я) от <%= @sender.name %></p>

<p><%= link_to (image_tag @sender.user_avatar_medium), notification_confirmation_url(@recipient.notification_token, 'yes', @sender.id) %></p>

<p>
	<% if @message.system_message %>
		<%= @message.body.html_safe if @message.body.present? %>
	<% elsif @message.body.present? %>
		<% message_length_left = [@message.body.html_safe.length - 20, 0].max %>	
		<%#= @message.body.html_safe.truncate(20) + "[#{message_length_left} символов осталось]" %>
		<%= @message.body.html_safe %>

	<% end %>
</p>

<p>
<strong>	
	<%= link_to "Нажмите здесь для полного сообщения и ответа", notification_confirmation_url(@recipient.notification_token, 'yes', @sender.id) %>
</strong>	
</p>

<p>P.S.: Если у Вас возникли вопросы или проблемы с сервисом, не стесняйтесь написать нам на <a href="mailto:support@demo.com?subject=Need%20Help">support@demo.com</a>.</p>

<p>спасибо,<br />
Команда DateProg.</p>

<p style="font-size: 10px;">
	это письмо отправлено с почтового ящика который не проверяется. <%= link_to "для отключения рассылки этих писем нажмите здесь", notification_confirmation_url(@user.notification_token, 'stop') %>
</p>