.col-lg-12
  .container
    .row
      .col-lg-12
        - unless current_user.traits.present?
          .right
            = link_to t("skip"), skip_traits_path, :class => "btn btn-info btn-sm", :id => "loader", "data-no-turbolink" => true
    = form_for "", :url => girls_path, :method => 'post', :html => {:id => "div_update_search_tool", :class => "form-horizontal" } do
      = hidden_field_tag :authenticity_token, form_authenticity_token
      %section  
        .intro-text
          .intro-box
            %span.skills
              =  t("find_a_matching_prog")
            %span.question= t("what_kind_of_man_you_like_meet")
            %div{style: "display:none;", id: "loader-image"}
              = image_tag "loader.gif"       
            - @trait_hash.each do |k,v|
              - display = (k == 0) ? 'block' : 'none'
              %div{:class => "traits_#{k} traits", :style => "display: #{display}"}
                %h4= t("question_number", number: k+1, total: @trait_hash.count).html_safe
                .row
                  .col-lg-12
                    .ans
                      = radio_button_tag "trait_radio[#{k}]", v[0], false, :class => "t_#{k}", :id => "id_radio_#{k + 1}", :onClick => "next_traits(#{k}, #{@trait_hash.count}); return true;"
                      %label{:for => "id_radio_#{k + 1}"}= t(v[0].gsub(" ", "_").downcase)
                    .or= t("or")
                    .ans
                      = radio_button_tag "trait_radio[#{k}]", v[1], false, :class => "t_#{k}", :id => "id_radio_#{k+20}", :onClick => "next_traits(#{k}, #{@trait_hash.count}); return true;"
                      %label{:for => "id_radio_#{k + 20}"}= t(v[1].gsub(" ", "_").downcase)
                    .clearb
            #testing_done.traits{:style => "display: none;"}
              %p
                %button#find_a_mate.btn.btn-warning{:disabled => "disabled", :type => "submit"}= t("find_a_mate")