%p
  = t("hello", email: @resource.email)
%p
  = t("requested_to_change_password")
%p
  = link_to t("change_my_password"), edit_password_url(@resource, reset_password_token: @token)
%p
  = t("ignore_this_email")
%p
  = t("password_will_not_changed")